extends layout

block content
  div.row
    div.col-md-12
      form.form-horizontal(action="/forgottenpassword" method="post" id="register-form" data-toggle="validator")
        div.block-flat
          div.content
            div.form-group
              label.control-label(for="email") Please enter your email address
              input.form-control(type="email" name="email" placeholder="Email" value="#{useremail}" autocomplete="off" data-error="That email address is invalid" required)
              div.help-block.with-errors

            if(error)
              div.alert.alert-danger.alert-white-alt.rounded
                div.icon
                  i.fa.fa-times-circle
                strong Error!
                | #{error}
            if(info)
              div.alert.alert-info.alert-white-alt.rounded
                div.icon
                  i.fa.fa-times-circle
                strong Info:&nbsp;
                | #{info}

          div.foot
            input.btn.btn-primary(type="submit" name="save" value="Send me a reset password link...")

block extrajs
