mixin nodocumentsfound
  div.jumbotron
    h3 No Documents Found
    p There are no documents to display. But you can add one now.
    p
      button.btn.btn-default(onclick="introJs().start()") Show Me How
