extends ../layout
include ../mixins/pagination
include ../mixins/nodocumentsfound
block content
  if(data.data.length > 0)
    div.content
      div.mail-inbox
        div.head
          div.col-sm-offset-6col-sm-6
            +pagination(1, pages, pageno, '/teamroom/subteams/' + db + '/')

        div.mails
          each topic in data.data
            div.item
              div
                span.date.pull-right
                  if(topic._files)
                    i.fa.fa-paperclip
                  | #{moment(topic.__created).fromNowOrNow()}
                a(href="/teamroom/subteam/#{db}/#{topic.__unid}")
                  h4.from #{topic.STName?topic.STName:'Subteam'}
  else
    +nodocumentsfound
